<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Recipes</title>
</head>
<body>
    <h1><%= name %></h1><Br>
                        <div>
                            <a>
                                <img src="<%= Image %>" align="left" width="360"
                                     height="330" style=" border: 8px solid #ffffff;" class="fig">
                            </a>
                                <p class="p">Composition: <%= myArray %></p>
                            <Br><Br><Br>
                            <b>
                                <pp class="pp">Summary: <%= summary %></pp><Br><Br><Br>
                                <ppp class="ppp">Instructions: <%= Instructions %></ppp><Br>
                            </b>
                        </div>

</body>
</html>
